*{
    padding: 0;
    margin: 0;

    
}
body{
    overflow-x: hidden;
}
.firstpage{
    background-color: rgb(5, 1, 1);
    position: relative;
   
}
.desktopimage{
    border-radius: 15px ;
    border-color: white;
}

.newimage{
   margin-left: -200px;
    padding-bottom: 20px;
    padding-top: 30px;
    
    
}

.newtext{
    color: white;
    font-size: 15px;
    padding-top: 40px;
    padding-left: 190px;
    padding-top: 90px;
}

.paragraph{
    font-size: 5px;
}


.section{
    display: flex;
    width: 10%;
}


/* end of first section */

.center-image {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.responsive-img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
}

.underscore{
    justify-items: center;
}


.center-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    text-align: center;
}


/* end of our our vision */

.containermission {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 800px; /* Set a max width for responsiveness */
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px;
    height: 50%;
}

/* Style for the content container */
.content {
    flex: 1;
    padding: 20px;
    color: white;
    border-radius: 10px;
}

/* Style for the image container */
.image-container {
    flex: 1;
    text-align: center;
}

/* Style for the image */
.image-container img {
    max-width: 100%;
    height: auto;
}

/* end of our our mission */

.valuetext{
    padding-top: 4%;
    padding-left: 14%;
}

.valueimage{
    padding-left: 14%;
    width: 80%;
}

.valuetext2{
    padding-top: 8%;
    padding-left: 5%;
}

.valueimage2{
    padding-left: 14%;
    
}

.bg-image {
    background-image: url('images/BackgroundHero.png'); /* Replace 'your-image.jpg' with your image file path */
    background-size: cover;
    background-position: center;
    min-height: 300px; /* Adjust the minimum height as needed */
    position: relative;
    color: white; /* Text color */
}

/* Style for the centered text */
.centered-text {
    text-align: center;
    position: absolute;
    margin-top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.background-section{
    margin-top: 240px;
}




.box {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    transition: transform 0.2s ease;
}

.box:hover {
    transform: scale(1.05);
}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 10px;
}

.logo img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.title {
    font-size: 24px;
    margin: 10px 0;
}

.summary {
    font-size: 16px;
}







/* start of footer */


footer {
    background-color:#07066f;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.container {
    flex: 1;
    text-align: center;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1em;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

a {
    color: #fff;
    text-decoration: none;
}

.social-media img {
    width: 30px;
    height: 30px;
    margin: 5px;
}

address {
    font-style: normal;
}







/* start of About us page */

.full-screen-image {
    background-image: url('images/Hero.png');
    background-size: cover;
    background-position: center;
    background-color: black;
    min-height: 100vh;
    position: relative;
    opacity: 1.5;}

    .full-screen-image::before {
        content: "";
        background-color: rgba(0, 0, 0, 0.4); /* Adjust the last value for opacity (0 to 1) */
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    

    .image-overlay {
        position: relative;
        width: 100%;
        min-height: 100vh; /* Minimum viewport height */
        overflow: hidden;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: left;
    }
    
    /* Style for the image */
    .image-overlay img {
        max-width: 100%;
        height: auto;
    }
    
    /* Style for the overlay content */
    .overlay-content {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.2);
        color: #fff;
        padding: 20px;
        padding-top: 150px;
        text-align: center;
    }
    
    /* Style for the title */
    .overlay-content h2 {
        font-size: 24px;
    }
    
    /* Style for the description */
    .overlay-content p {
        font-size: 38px;
    }



.container-box {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 10px;
    border-radius: 2%;
}


.abouttext{
    width: 100%; 
    color: black;
    font-size: 18px;
    font-family: Poppins; 
    font-weight: 400; 
    line-height: 32.40px;
    word-wrap: break-word"
}

.people{
    text-align: center; 
    color: #14358A; 
    font-size: 24px; 
    font-family: DM Sans; 
    font-weight: 700; 
    line-height: 50.40px; 
    word-wrap: break-word;
}


.map{
        text-align: center; 
        color: #14358A; 
        font-size: 24px; 
        font-family: DM Sans; 
        font-weight: 700; 
        line-height: 50.40px; 
        word-wrap: break-word;
    
}


.mapcontainer {
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}


.mapcontainer img {
    max-width: 100%; 
    height: auto; 
}




/* end of about us page */








/* servicepage */


.servicetitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Style the background image */
.bg-image {
    background-image: url('images/servicesBackground.png');
    background-size: cover;
    background-position: center;
    height: 100vh; /* 100% viewport height for full-screen effect */
}



.servicecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.item {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 400px;
}

.item img {
    max-width: 100%;
    height: auto;
}

.btn {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}




/* partners */

h2{
    text-align:center;
    padding: 20px;
  }
  /* Slider */
  
  .slick-slide {
      margin: 0px 20px;
  }
  
  .slick-slide img {
      width: 100%;
  }
  
  .slick-slider
  {
      position: relative;
      display: block;
      box-sizing: border-box;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
              user-select: none;
      -webkit-touch-callout: none;
      -khtml-user-select: none;
      -ms-touch-action: pan-y;
          touch-action: pan-y;
      -webkit-tap-highlight-color: transparent;
  }
  
  .slick-list
  {
      position: relative;
      display: block;
      overflow: hidden;
      margin: 0;
      padding: 0;
  }
  .slick-list:focus
  {
      outline: none;
  }
  .slick-list.dragging
  {
      cursor: pointer;
      cursor: hand;
  }
  
  .slick-slider .slick-track,
  .slick-slider .slick-list
  {
      -webkit-transform: translate3d(0, 0, 0);
         -moz-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
           -o-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
  }
  
  .slick-track
  {
      position: relative;
      top: 0;
      left: 0;
      display: block;
  }
  .slick-track:before,
  .slick-track:after
  {
      display: table;
      content: '';
  }
  .slick-track:after
  {
      clear: both;
  }
  .slick-loading .slick-track
  {
      visibility: hidden;
  }
  
  .slick-slide
  {
      display: none;
      float: left;
      height: 100%;
      min-height: 1px;
  }
  [dir='rtl'] .slick-slide
  {
      float: right;
  }
  .slick-slide img
  {
      display: block;
  }
  .slick-slide.slick-loading img
  {
      display: none;
  }
  .slick-slide.dragging img
  {
      pointer-events: none;
  }
  .slick-initialized .slick-slide
  {
      display: block;
  }
  .slick-loading .slick-slide
  {
      visibility: hidden;
  }
  .slick-vertical .slick-slide
  {
      display: block;
      height: auto;
      border: 1px solid transparent;
  }
  .slick-arrow.slick-hidden {
      display: none;
  }

/* media Query  */

/* Media Query for Responsiveness */
@media screen and (max-width: 768px) {
    footer {
        flex-direction: column;
        text-align: center;
    }

    .container {
        width: 100%;
        margin: 0;
    }
}

/* end of footer */

@media(max-width: 550px) {
    #firstPage_s1{
        margin-left: -35px;
        margin-top: -70px;
        

    }
    #firstPage_s2, #firstPage_s3{
        display: none;
        /* margin-left: 100px;
        margin-top: 50px; */
    }
    #welcomeImage{
        width: 345px;
        height: auto;
        margin-left: 5px;
    }
    #welcomeText{
        margin-left: -158px;
        text-align: center;
        width: 137%;
        margin-top: -106px;
    }
    #welcomeText p{
        margin-top: -25px;
    }
}




